/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 110vh;
  background-image: url('https://img.freepik.com/premium-vector/space-speed-abstract-starburst-dynamic-lines-rays_255502-317.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}